---
title: enjine.io - Dashboard

language_tabs: # must be one of https://git.io/vQNgJ
  - javascript

toc_footers:
  - <a href='mailto:support@droidscript.org'>Sign Up for a CloudStore API Key</a>
  - <a href='../index.html'>enjine.io home</a>

includes:

search: true

code_clipboard: true

code_run: true
---

# Dashboard

## Loading

- Navigate to [https://droidscript.cloud/admin/admin.html](https://droidscript.cloud/admin/admin.html)
- Log in using your **Username** and **Password**
- You should now be at the enjine.io control panel:

<%= image_tag "images/dashboard_1.png" %>

<aside class="success">
At the top of the dashboard that is not visible on the screenshot above, you should see your username and below, your Media path which should look something like this: 
droidscript.cloud/admin/files/b949f9de672a33344061754af45574fc/**file path**
</aside>